html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
@media only screen and (max-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  }

@media only screen and (min-width: 601px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
  }

@media only screen and (min-width: 768px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
  }

.row{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}
.btn {
  display: inline-block;
  min-width: 100px;
  height: 45px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.btn:hover{
  cursor: pointer;
}
.btn:active{
  transform: scale(0.95);
}
.btn-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:active{
  background-color:  #1100ff;
}
.btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:active{
  background-color:  #249e2e;
}
.table {
  display: block;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  font-size: 18px;
  margin-top: 10px;
}
.table-header{
  font-size: large;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 3px 0 3px 0;
}
tbody, thead{
  display: table;
  width: 100%;
  font-size: 1rem;
}
thead{
  color: black;
  font-weight: bold;
}
td{
  width: 20%;
  word-wrap: normal;
}
tr:nth-child(even){
  background-color: #dee2e6;
}