@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #fff;
    margin: 50px 0 0 100px;
}
.side-section{
    padding: 0 20px 0 20px;
    flex-direction: column;
}
.form-section{
    flex-direction: column;
    position: relative;
    margin-left: 10px;
    padding: 10px;
    top: 100px;
}
.details{
    position: relative;
}
.header{
    position: relative;
    text-align: left;
    font-size: 25px;
    width: 100%;
    border-bottom: 2px solid black;
}
.rounded-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#camera-icon{
    position: relative;
    left: -28px;
    bottom: 13px
}
#camera-icon:hover{
    cursor: pointer;
  }
label{
    position: relative;
    width: 25%;
    height: 35px;
}
.values{
    position: relative;
    left: 70px;
}
.detail-field{
    margin-top: 20px;
    height: 35px;
}
input[type="text"], input[type="password"]{
    border: 0 ;
    border-bottom: 1px solid black;
    font-size: 14px;
    width: 200px;
    background: transparent;
    text-align: center;
}
input[type="text"]:focus, input[type="email"]:focus{
    border-bottom: 3px solid black;
    font-size: 11px;
}
#email{
    /* left: 20px; */
    width: 33.33%;
}
#email-val{
    width: 58.33%;
    position: relative;
}
#email-val1{
    width: 58.33%;
    position: relative;
    justify-content: right;
    left: 40px;
}
label#email{
    width: max-content;
    left: 0px;
}
#form-btn{
    position: relative;
    float: right;
    bottom: 0;
    margin-top: 50px;
}