<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP</title>
</head>
<body>
    <form action="../views/signup.php" method="post">
        username
        <input type="text" name="username" id="username">
        password
        <input type="text" name="password" id="password">
        email
        <input type="text" name="email" id="email">
        group
        <select name="group" id="group">
            <option value="siteAdmin">siteAdmin</option>
            <option value="retailer">retailer</option>
            <option value="enduser">enduser</option>
        </select>
        <button type="submit">submit</button>
    </form>
</body>
</html>